version: 2
jobs:
  build:
    docker:
      - image: circleci/openjdk:8u212-stretch
    steps:
      - checkout
      - run:
          name: Build
          command: |
            ./gradlew build
      - run:
          name: Build
          command: |
            ./gradlew test
